div#OutstandingJobsText h3
{
    font-size: 20px;
    padding:4px;
}

.Slideup-Panel
{
    top: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
}

span.Comp, span.LU
{
	color:#EEE;
	font-weight: 500;
	font-size: 14px;
}


li.CallAction
{
	padding-left: 10px;
	border-bottom : 1px solid #AAA;
	font-size: 12px;
}

div.ActionCard
{
	margin:5px;
}

div#JobList
{
	height: 355px;
	overflow: scroll;
	font-size: 12px;
}


table.striped>tbody>tr:nth-child(odd) {
    background-color: #90a4ae ;
}


.DashboardLarge
{
	font-size: 26px;
	padding:10px;
	float:left;
	align-content: center;
	text-align: center;
	width:200px;
    
}

.DashboardLarge span.value
{
	padding:10px;
}

.DashboardLarge .Title
{
	color:#AAA;
	font-size: 22px;
	top:0;
}

.AVState0
{
	background-color: rgba(238, 0, 0, 200);
	border: 2px solid rgba(238, 0, 0, 250);
	color:#FFF;
	padding: 2px;
	margin:2px;
}

.AVState1
{
	background-color: rgba(59, 109, 59, 200);
	border: 2px solid rgba(59, 109, 59, 250);
	color:#FFF;
	padding: 2px;
	margin:2px;
}

div.PercentLabel
{
	position: relative;
    top: -20px;
    font-weight: 500;
	color:#111;
	padding-left: 5px;
}

div.PercentBack
{
	width:100%;
	height:24px; 
	background-color: #888;
	border:2px solid #333; 
	padding: 0;
}

div.PercentFore
{
	height:20px;
	padding:0;
	padding-left: 1px;
}

.LargeText
{
	font-size: 22px;
}

#tblComputers
{
	color:#222;
}

.IconColour
{
	color:#0FA;
}

.IconColourError
{
	color:#ff1010;
}

.IconColourInactive
{
	color:#ff1a00;
}

.IconColourMissingData
{
	color:#b47a7d;
}

.DesColour
{
	color:#FAFAFA;
}

.center
{
	text-align: center;
}