body
{
	/*background-color: #272D4E;*/
	background-color: #d5d5d5;
}

nav
{
	color: #000;

}

.vam
{
    vertical-align: middle;
}

nav ul li a{
  color: black;
}   

h1, h2, h3, h4 {
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 300;
}

.article-body h1
{
    font-size: 1.6em;
    font-weight:400;
}

.article-body h2
{
    font-size: 1.4em;
    font-weight:400;
}

.article-body h3
{
    font-size: 1.2em;
    font-weight:400;
}

.LargeTextEntry
{
	font-size: 44px !important;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

.smallComment
{
    font-size: 0.8em;
    color:#777;
}

#NavSearchButton
{
    margin-left: 30px;
}



.ilb
{
    display: inline-block;
}

.btn-top-half
{
    top:35px;
}
.Hidden
{
    display: none;
}



.header-search-wrapper {
    margin: 10px auto 0 240px;
    width: 300px;
    height: 40px;
    display: inline-block;
    position: relative;
}

.TitleNav
{
    min-height: 64px;
}

input.header-search-input:hover {
    background: rgba(255,255,255,0.3) !important;
    color:#000 !important;
}

input.header-search-input {
    display: block;
    padding-left:30px !important;
    width: 100%;
    background: rgba(255,255,255,0.2) !important;
    height: 24px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    border: none;
    font-size: 16px;
    appearance: textfield;
    font-weight: 400;
    outline: none;
    border-radius: 8px;
    color:#000;
}


a.collapsible-header
{
	padding: 0 32px !important;
}

a.subItem
{
	padding-left: 90px !important;
}

.header-search-wrapper i {
    position: absolute;
    font-size: 24px;
    top: 6px;
    left: 4px;
    line-height: 32px !important;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
}


::-webkit-input-placeholder { /* WebKit browsers */
    color:   #e2f4ff;
     opacity: 0.8 !important;
}


#main {
    padding-left: 240px;
}

@media only screen and (max-width: 993px)
{
	#main 
	{
    padding-left: 0;
	}
}

.MailCard
{
    padding:10px;

}

.MailCard .HostName
{
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}

.MailCard .Status
{
    float: right;
    font-size: 44px;
    bottom: 50px;
    position: relative;
}

.MailCard i.T
{
    font-size: 12px;
    padding-top: 15px;
    margin-right: :8px;
}

.menu-button
{
	position: fixed;
	left:20px;
	top:15px;
    height: 40px !important;
    line-height: 40px !important; 
}

a.menu-button i
{
	line-height: 42px !important;
}

#left-sidebar {
    position: fixed;
    width: 100px;
    left: 180px;
    z-index: 999;
    height: auto;
    background-color: #DDD;
}

ul.side-nav.leftside-navigation {
    top: 64px;
    overflow: hidden;
}

#mainbody
{
	padding:5px;
}

.Control-Item h2
{
    color:#fff;
    font-weight: 300;
    padding-left: 10px;
    font-size: 30px;
}

.Control-Item h3
{
    color:#fff;
    font-weight: 300;
    padding-left: 10px;
    font-size: 20px;
}

.Control-Item
{
    
}

.card-body
{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}

.card-title
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

}

.card-body .input-field label {
     color: #000;
   }

.card-body    .input-field input[type=text]:focus + label {
 color: #00D;
}

.card-body .input-field .prefix.active
{
  color:#000;
}

.input-field-button
{
    padding-top: 25px;
    margin-bottom: 10px;
}


.Article-Owner
{
    color:#777;
}

.Article-Date
{
    color:#999;
    font-weight: 500;
}

div.article-body
{
    padding: 20px;
}

.WhiteText
{
    color: #eee;
}

.WhiteText a
{
    color: #fff;
}

.bottom
{
    bottom: 0;
    position: absolute;
    margin-bottom: 10px;
}

.IconCount
{
    display: inline-block;
    position: relative;
    left: -40px;
    top: -20px;
    width: 30px;
    text-align: center;
}

div.ArticleSideBar
{
    border-left: 1px #9db5c5 solid;
    padding: 15px;
}

div.ArticleSideBar h4
{
    font-size: 1.5rem;
}

span.user
{
    padding:20px;
}

i.vmiddle
{
    vertical-align: middle;
}

label.ControlHeader
{
    color:#111;
    vertical-align: :middle;
    margin-right: 10px;
    margin-left:10px;
    font-size: 12px;
}

.pagination li.active {

    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
    }


.Control-Item h3.ArticleSearchHead
{
    color:#0f4fe6;
    font-weight: 400;
    padding: 20px 20px 0 10px;
}

.SearchItem
{
    padding-left:10px;
}

.SearchDetails
{
    font-size: 12px;
}

.Excerpt
{
    padding-top:10px;
    padding-bottom: 10px;
    color:#999;
}

h3.Dark, h2.Dark, h1.Dark
{
    color: #005cad;
}